
:root {
    --primary-background: #FFFFF4;
    --chrome-background: #B4F8C8;
    --chrome-background-opaque: #A0E7E5;
    --secondary-background: #eb7d08;
    --text-color: #4d76d4;
    --accent-light: #ecad5a;
    --accent-dark: #C27A18;
    
    --gutter: 30px;
}

body {
    /* style */
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--primary-background);
    color: var(--text-color);

    /* layout */
    display: grid;
    grid-template-rows: 80px 1fr auto;

}


header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--chrome-background);
    box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    padding: 0 var(--gutter);
}

main {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

span {
    width: fit-content;
    border: 10px solid green;
    padding: 10px;
    margin: auto;
}

footer {
    background-color: var(--chrome-background-opaque);
    padding: 10px var(--gutter);
    align-self: stretch;
}
